@import '../colors';

.grid {
  display: grid;
  grid-template-columns: 10fr 2fr;
}

.input-with-button-right {
  input[type=search] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    font-size: 1.2rem;
    font-weight: 300;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.react-autosuggest__container--open {
  .react-autosuggest__input {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}


.react-autosuggest__suggestions-container--open {
  border: 1px solid #1eaedb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: transparent;
}

.react-autosuggest__container {
  position: relative;
  width: 100%;

  .react-autosuggest__input {
    width: 100%;
  }

  .react-autosuggest__suggestions-container {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 40px;
    background-color: white;

    .react-autosuggest__suggestions-list {
      width: 100%;
      padding: 0;
      margin: 0;
      border: 1px solid #eaeaea;

      .react-autosuggest__suggestion {
        list-style-type: none;
        padding: 12px 16px;
      }

      .react-autosuggest__suggestion--highlighted {
        background-color: #eaeaea;
      }
    }
  }
}
